body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: 300;
    font-family: fantasy;
}
#app{
    width: 100%;
    font-family: fantasy;
    background-color: aqua;
}
#games{
    width: 100%;
    font-family: fantasy;
    background-color: coral;
}
#chatbot{
    width: 100%;
    font-family: fantasy;
    background-color: khaki;
}
img{
    transition: transform.2s;
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}